$primary-color: #444;

* {
   box-sizing: border-box;
}

body {
   background-color: $primary-color;
   color: white;
   height: 100%;
   margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
   margin: 0;
   font-weight: 400;

   &.lg-heading {
      font-size: 6rem;
   }

   &.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(lighten($primary-color, 2), 0.5);
   }
}

a {
   color: white;
   text-decoration: none;
}

header {
   position: fixed;
   z-index: 3;
   width: 100%;
}
